.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: auto; 
  object-fit: cover;
  
}

@media (max-width: 768px) {
  .video-container {
    padding: none; /
  }

  video {
    width: 100%; 
    height: auto;
  }
}
